$color-purple: #9d3fe7;
$color-purple-light: #ae60eb;
$color-purple-dark: #6a17ab;
$color-gradient: linear-gradient(159.13deg, #9d3fe7 -24.13%, #602093 132.21%);

$color-black: #1a141f;
$color-hint-text: #4b3a5a;
$color-border: #aba7af;
$color-disabled: #d4d2d5;
$color-spacer: #d9d1e0;
$color-spacer-light: #e5e0eb;
$color-light-grey: #f5f3f7;
$color-white: #ffffff;

$color-error: #d51a52;
$color-attention: #ff9500;
$color-approval: #00b998;
$color-link: #0f0bab;

$color-primary: $color-purple;
$color-primary-hover: $color-purple-light;
$color-primary-active: $color-purple-dark;
