$font-size-xxLarge: 44px;
$font-size-xLarge: 30px;
$font-size-large: 22px;
$font-size-medium: 18px;
$font-size-small: 16px;
$font-size-xSmall: 14px;

$font-weight-bold: 700;
$font-weight-semiBold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

$line-height-xxLarge: 148%;
$line-height-xLarge: 144%;
$line-height-large: 140%;
$line-height-medium: 132%;
$line-height-small: 128%;
$line-height-xSmall: 124%;
$line-height-xxSmall: 120%;
