$layout-width-x3Large: 800px;
$layout-width-xxLarge: 720px;
$layout-width-xLarge: 640px;
$layout-width-large: 560px;
$layout-width-medium: 480px;
$layout-width-small: 400px;
$layout-width-xSmall: 320px;
$layout-width-xxSmall: 240px;
$layout-width-x3Small: 160px;
$layout-width-x4Small: 80px;
