@use 'spacing' as *;
@use 'color' as *;
@use 'radius' as *;
@use 'mixins' as *;

.hn-input {
  .hn-input--wrapper {
    display: flex;
    align-items: center;
    border: 1px solid $color-spacer-light;
    border-radius: $radius-xSmall;

    &:where([data-focus='true']) {
      border-color: $color-primary;
    }

    .hn-input--input {
      flex: 1;
      padding: $space-large;
      @include body-xs;
      background-color: transparent;
      color: $color-black;
      border: none;
      outline: none;

      &:has(+ .hn-icon) {
        padding-inline-end: 0;
      }
    }

    .hn-input--clear {
      padding: $space-large;
    }
  }
}
