@use 'color' as *;
@use 'radius' as *;
@use 'shadow' as *;
@use 'mixins' as *;
@use 'layout' as *;
@use 'spacing' as *;

.hn-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba($color-black, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 24px;

  .hn-modal--content {
    background-color: $color-white;
    border-radius: $radius-medium;
    box-shadow: $shadow-large;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding-block: 40px;
  }

  .hn-modal--header {
    @include desktop-headlines-2;
    padding-block: 8px 16px;
    padding-inline: 56px;
  }

  .hn-modal--body {
    @include body-m;
    padding-block: 8px;
    padding-inline: 56px;
    overflow: auto;
  }

  .hn-modal--footer {
    @include body-m;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 16px;
    padding-block: 16px 8px;
    padding-inline: 56px;
  }

  &[data-width='small'] {
    .hn-modal--content {
      width: $layout-width-medium;
    }
  }
  &[data-width='medium'] {
    .hn-modal--content {
      width: $layout-width-large;
    }
  }
  &[data-width='large'] {
    .hn-modal--content {
      width: $layout-width-xLarge;
    }
  }
  &[data-width='full'] {
    .hn-modal--content {
      width: 100%;
    }
  }
}

.modal-enter-active,
.modal-leave-active {
  transition: all 0.3s ease;

  .hn-modal--content {
    transition: all 0.3s ease;
  }
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;

  .hn-modal--content {
    transform: translateY(50px);
    opacity: 0;
  }
}
