@use 'spacing' as *;

.hn-rate {
  display: flex;
  width: fit-content;

  .hn-rate--star {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline-end: $space-medium;
  }
}
