@use 'color' as *;
@use 'mixins' as *;

.hn-switch {
  display: flex;
  align-items: center;
  width: fit-content;
  min-width: 51px;
  height: 32px;
  cursor: pointer;
  background-color: rgba(#17171f, 0.04);
  border-radius: 47px;
  transition: all 0.3s ease;
  position: relative;

  .hn-switch--input {
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 28px;
      height: 28px;
      background-color: $color-white;
      border-radius: 50%;
      box-shadow:
        0 3px 8px 0 rgba(0, 0, 0, 0.15),
        0 3px 1px 0 rgba(0, 0, 0, 0.06);
      transition: all 0.3s ease;
    }

    &:checked::after {
      left: calc(100% - 30px);
    }
  }

  .hn-switch--label {
    white-space: nowrap;
    padding-left: calc(28px + 8px);
    padding-right: 8px;
    transition: all 0.3s ease;
  }

  &[data-on='true'] {
    background-color: $color-purple;

    .hn-switch--label {
      padding-left: 8px;
      padding-right: calc(28px + 8px);
      color: $color-white;
    }
  }

  &[data-disabled='true'] {
    background-color: rgba(#17171f, 0.16);

    .hn-switch--input {
      cursor: not-allowed;

      &::after {
        background-color: $color-border;
      }
    }

    .hn-switch--label {
      color: $color-border;
    }
  }
}
